@use '../abstracts' as *;

section:has(.movie-card) {
	padding: 1rem;
}

.movie-card {
	border-radius: 12px;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0rem 0.5rem 1.5rem;
	background: var(--clr-neutral--100);
	// Because the origina border root color is red and we want to change it to black
	color: var(--clr-neutral--900);
	max-width: 31.25rem;

	&__img-wrapper {
		z-index: 1;
		position: relative;
		border-radius: 0.375rem 0.375rem 0 0;
		overflow: hidden;
		aspect-ratio: 16/9;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.8) 0%,
				rgba(0, 0, 0, 0) 100%
			);
		}
	}

	&__img-svg-arrow {
		filter: drop-shadow(0px 0px 12px #000);
		cursor: pointer;
		position: absolute;
		height: 2.25rem;
		fill: var(--clr-neutral--100);
		left: 1rem;
		top: 0.6rem;

		&:hover {
			fill: var(--clr-neutral--200);
		}

	}

	&__img {
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: relative;
	}

	&__img-content-wrapper {
		position: absolute;
		color: var(--clr-neutral--100);
		z-index: 2;
		bottom: 0;
		display: grid;
		gap: 0.25rem;
		left: 1rem;
		bottom: 0.6rem;
	}

	&__img-title {
		font-size: var(--fs-400);
		font-weight: 400;
	}

	&__img-subtitle {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		font-size: var(--fs-50);
		font-weight: 300;
	}

	&__img-svg-location {
		fill: var(--clr-neutral--100);
		height: 0.875rem;
	}

	//  Section 2
	&__content-wrapper {
		padding: 0 2.5rem 1rem;
		position: relative;

		&::before {
			content: '';
			pointer-events: none !important;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 70%,
				rgba(0, 0, 0, .5) 100%
			);
			z-index: 2;
		}
	}

	&__content-options-wrapper {
		display: flex;
		padding: 1.5rem 0;
		width: fit-content;
		gap: 2rem;
		margin: 0 auto;
	}
	&__content-option {
		font-size: var(--fs-50);
		display: flex;
		width: fit-content;
		gap: 0.5rem;
		align-items: center;
	}
	&__content-option-svg {
		width: 1.5rem;
	}

	&__content-option-svg--available {
		fill: inherit;
	}

	&__content-option-svg--booked {
		fill: var(--clr-neutral--500);
	}

	&__content-option-svg--selected {
		fill: orangered;
	}

	&__content-bench-grid {
		display: grid;
		gap: 1rem;
	}
	&__content-bench-row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}

	&__content-bench-row-letter {
		position: absolute;
		font-size: var(--fs-50);
		text-transform: capitalize;
		padding-right: 1rem;
		transform: translateX(-100%);
	}

	&__content-bench-collumn {
		display: flex;
		gap: 1rem;
	}

	&__content-bench-item {
		cursor: pointer;
		transition: all ease 0.2s;
		&:hover {
			fill: orangered;
		}
	}

	&__content-bench-active {
		fill: red;
	}

	&__content-screen-wrapper {
		display: grid;
		position: relative;
		place-content: center;
		padding: 1rem 1rem 2rem 1rem;
	}
	&__content-screen-title {
		//  text-align: center;
		//  width: 100%;
	}

	&__content-screen {
		border: solid 0.3125rem var(--clr-neutral--900);
		border-color: var(--clr-neutral--900) transparent transparent transparent;
		border-radius: 100% 100% 0 0;
		border-width: 0.375rem;
		height: 3.25rem;
		transform: rotate(180deg);
		position: absolute;
		inset: 0;
		width: 100%;
		margin: auto;
	}

	// Section 3 cta section

	&__cta-wrapper{
		color: var(--clr-neutral--100);
		display: grid;
		grid-template-columns: auto auto 1fr;

		background: var(--clr-neutral--500);
	}
	&__cta-label-list{
		list-style: none;
		padding: 1rem;
		background: var(--clr-neutral--700);

	}
	&__cta-label{

	}

	&__cta-label--total {
		text-transform: uppercase;
	}
	&__cta-content-list{
		list-style: none;
		padding: 1rem;
	}
	&__cta-content-item{

	}
	&__cta-button{
		height: fit-content;
		width: fit-content;
		font-size: var(--fs-200);
		padding: 1.5rem 2.5rem;
		margin: auto 0 auto auto;
		margin-right: 1rem;
		border-radius: 1rem;
		border: none;
		cursor: pointer;
		transition: background ease 0.3s;
		background: var(--clr-neutral--700);

		&:hover{
			background: #000000;
		}

	}
}
